{% extends "base.html" %}
{% block title %}All Posts{% endblock title %}
{% block content %}
<section
    class="dark:text-neutral-200 text-neutral-800 flex-grow transition-colors duration-300 body-font">
    <div class="container px-5 py-2 mx-auto">
        <div class="flex flex-wrap gap-6 my-8 -mx-2 justify-center">
            {% for post in data.Data %}
            <article class="flex max-w-xl flex-col items-start justify-end">
                {% if post.HeaderImage %}
                <a href="/posts/{{ post.Slug }}.html" class="relative block w-full h-64 rounded-xl overflow-hidden mb-4">
                    <img alt="blog" class="object-cover object-center w-full h-full block scale-110"
                        src="{{ post.HeaderImage }}" />
                </a>
                {% endif %}
                <div class="flex items-center gap-x-4 text-xs justify-between my-2 w-full">
                    <p datetime="Mar 20, 2024" class="dark:text-neutral-400 text-neutral-600">{{ post.Date }}</p>
                    <p class="flex gap-2">
                        {% for tag in post.Tags %}
                            <span class="relative z-10 rounded-full bg-white dark:bg-black bg-opacity-30 dark:bg-opacity-30 px-3 py-1.5 font-medium dark:text-neutral-300 text-neutral-600">{{ tag }}</span>
                        {% endfor %}
                    </p>
                </div>
                <hr class="h-px w-full border-t-0 bg-neutral-100 dark:bg-white/10 mb-2 rounded-md"/>
                <div class="group relative">
                    <h3 class="text-lg font-semibold leading-6">
                        <a href="/posts/{{ post.Slug }}.html">
                            <span class="absolute inset-0"></span>
                            {{ post.Title }}
                        </a>
                    </h3>
                    <p class="line-clamp-3 text-sm leading-6">{{ post.Description }}</p>
                </div>
                <div class="relative flex flex-col gap-x-4 text-neutral-900 dark:text-neutral-100 text-xs mt-2">
                    <p class="font-semibold">
                        <a href="#">
                            {{ post.Author }}
                        </a>
                    </p>
                    <p>{{ post.ReadTime }}</p>
                </div>
            </article>
            {% endfor %}
        </div>
        {% if data.TotalPages > 1 %}
        <div class="max-w-full my-4">
            {% if data.CurrentPage > 1 %}
            <a href="/posts/page/{{ data.CurrentPage-1 }}.html" class="mr-2 text-blue-500">Previous</a>
            {% endif %}
            <span class="dark:text-neutral-200 text-neutral-800">{{ data.CurrentPage }} / {{ data.TotalPages }}</span>
            {% if data.CurrentPage < data.TotalPages %}
            <a href="/posts/page/{{ data.CurrentPage+1 }}.html" class="mr-2 text-blue-500">Next</a>
            {% endif %}
        </div>
        {% endif %}
    </div>
</section>
{% endblock content %}