<footer
    class="transition-colors duration-300 bg-neutral-100 dark:bg-neutral-900 dark:text-neutral-200 text-neutral-800">
    <div class="w-full mx-auto md:py-4">
        <div class="flex items-center flex-col md:flex-row justify-between px-4">
            <span class="block text-sm text-neutral-800 dark:text-neutral-200 text-center">©
                <script>document.write(new Date().getFullYear())</script> <a href="/" hx-boost="true" hx-target="#main"
                    class="hover:underline cursor-pointer">{{ sitename }}</a>. All Rights
                Reserved.
            </span>
            <a href="mailto:kaustubhachaturvedi@gmail.com"
                class="text-lg cursor-pointer text-gray-800 dark:text-gray-200 p-1">kaustubhachaturvedi@gmail.com</a>
        </div>
    </div>
</footer>