@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  cursor: none;
}

.inner-cursor {
  position: fixed;
  left: 10px;
  width: 12px;
  height: 12px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  mix-blend-mode: difference;
  border-radius: 50%;
  pointer-events: none;
  transition: width 0.5s, height 0.5s;
  z-index: 1000;
}

.inner-cursor.grow {
  width: 30px;
  height: 30px;
  transition: width 0.5s, height 0.5s;
}

.outer-cursor {
  position: fixed;
  left: 10px;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
  border: 1.5px solid #fff;
  mix-blend-mode: difference;
  border-radius: 50%;
  pointer-events: none;
  z-index: 1000;
}

.outer-cursor.grow {
  transition: border 0.5s;
  border: 0px solid #fff;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-link span {
  transition: opacity 0.5s ease-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.nav-link:hover span {
  opacity: 1;
  height: auto;
}

.nav-link.active span {
  height: auto;
  opacity: 1;
}