<!DOCTYPE html>
<html lang="en" class="bg-neutral-100 dark:bg-neutral-900 transition-colors duration-300" style="height:100vh;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>


<body class="bg-neutral-100 dark:bg-neutral-900 transition-colors duration-300 min-h-full w-full flex flex-col">
    <style>
        #menu-toggle:checked + #menu {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }
    </style>
    {% include "partials/header.html" %}
    {% block content %}{% endblock content %}
    {% include "partials/footer.html" %}
    <script>
        const darkModeToggle = document.getElementById('darkModeToggle');
        const sunIcon = document.getElementById('sunIcon');
        const moonIcon = document.getElementById('moonIcon');
        const localStorageTheme = localStorage.getItem('theme') || (window.matchMedia('(prefers-color-scheme: dark)').matches && 'dark');
      
        const toggleDarkMode = (darkMode) => {
          document.documentElement.classList.toggle('dark', darkMode);
          localStorage.setItem('theme', darkMode ? 'dark' : 'light');
          sunIcon.classList.toggle('hidden', darkMode);
          moonIcon.classList.toggle('hidden', !darkMode);
        };
      
        darkModeToggle.checked = localStorageTheme === 'dark';
        toggleDarkMode(darkModeToggle.checked);
      
        darkModeToggle.addEventListener('change', () => toggleDarkMode(darkModeToggle.checked));
      </script>      
</body>
</html>